.jitsi-container {
    width: 100vw;
    height: calc(100vh - 70px); /* 70px es la altura de la cabecera */
    max-width: 100vw;
    max-height: calc(100vh - 70px);
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.watermark leftwatermark {
    display: none !important;
}

.watermark rightwatermark {
    display: none !important;
}

.record-btn {
    position: fixed;
    top: 8px; /* Justo debajo de la cabecera de 70px, con un poco de margen */
    left: 50%;
    transform: translateX(-50%);
    z-index: 20000;
    background: #fff;
    color: #d32f2f;
    border: none;
    border-radius: 30px;
    padding: 8px 30px 8px 14px;
    font-size: 1.0rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}
.record-btn:hover {
    background: #d32f2f;
    color: #fff;
}
.record-btn svg {
    display: inline-block;
}