body{
    font-family: "Poppins", sans-serif;
    background-color: #e9fff6 ;
}



.cont-chat{
    width: 60%;
    height: 88vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0056b3;
    justify-content: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    
}

h1{
    text-align: center;
}

#chat-box {
    background-color: #ffffff;
    width: 90%;
    padding: 10px; /* Reducido desde 20px */
    height: 400px; /* Reducido desde 300px */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacio entre burbujas reducido */
    border-radius: 10px; 
}
   
.timestamp{
    margin: 0;
    font-size: 10px;
    margin-bottom: 0!important;
}

.message-bubble-usuario {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    background-color: #4CAF50;    
    position: relative;
    word-wrap: break-word; /* Asegura que el texto largo se ajuste */
    max-width: 35%; /* Esto permite que el contenedor se ajuste automáticamente */
    color: rgb(70, 70, 70);
    align-self: flex-end; 
    text-align: start;
    
}

.message-bubble-profesor {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(#0093ff, #37bcff); 
    position: relative;
    word-wrap: break-word; /* Asegura que el texto largo se ajuste */
    max-width: 35%; /* Esto permite que el contenedor se ajuste automáticamente */
    color: rgb(70, 70, 70);
    align-self: flex-start; 
    display: flex;
    flex-direction: column;
}



.message-bubble-usuario p, .message-bubble-profesor p {
    color: #000;
    display: block; /* Hacer que el nombre del usuario esté en una línea separada */
    margin-top: 0;
    margin-bottom: 14px;
}
.message-bubble-usuario strong, .message-bubble-profesor strong {
    color: #000;
    display: block; /* Hacer que el nombre del usuario esté en una línea separada */
    margin-bottom: 10px;
}

.message-form{
    width: 90%; 
    display: flex; 
    background-color: #333; /* Fondo gris oscuro */ 
    border-radius: 5px; 
    padding: 10px; 
    margin-top: 10px;
}

.form-entry{
    width: 50%;
    padding: 10px;
    margin: 15px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0c00b4;
    border-radius: 10px;
}

input{
    width: 80%;
    height: 70%;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    padding-left: 10px;
}

button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #000855;
    color: white;
    border: transparent;
}