body{
    font-family: "Poppins", sans-serif;
    --fondo: white;
}

body.dark-mode{
    --fondo: rgb(60, 60, 60);
}

.cont-chat{
    width: 60%;
    height: 88vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0056b3;
    justify-content: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;    
}

h1{
    text-align: center;
    margin: 30px;
    font-size: 60px;
}

#chat-box {
    background-color: var(--fondo);
    width: 99%;
    padding: 10px; /* Reducido desde 20px */
    height: 560px; /* Reducido desde 300px */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacio entre burbujas reducido */
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
    padding-bottom: 65px;
}
   
.timestamp{
    margin: 0;
    font-size: 12px;
    margin-bottom: 0!important;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.message-bubble-usuario {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(#138808, #4CAF50);    
    position: relative;
    max-width: 50%; /* Esto permite que el contenedor se ajuste automáticamente */
    word-wrap: break-word; /* Asegura que el texto largo se ajuste */
    color: rgb(77, 77, 77);
    align-self: flex-end; 
    text-align: start;
    font-size: 14px;
    margin-top: 10px;
    
}

.message-bubble-profesor {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(#0093ff, #37bcff); 
    position: relative;
    word-wrap: break-word; /* Asegura que el texto largo se ajuste */
    max-width: 50%; /* Esto permite que el contenedor se ajuste automáticamente */
    color: rgb(70, 70, 70);
    align-self: flex-start; 
    display: flex;
    flex-direction: column;
    font-size: 14px;
}



.message-bubble-usuario p, .message-bubble-profesor p {
    color: #000;
    display: block; /* Hacer que el nombre del usuario esté en una línea separada */
    margin-bottom: 5px;
}
.message-bubble-usuario strong, .message-bubble-profesor strong {
    color: #000;
    display: block; /* Hacer que el nombre del usuario esté en una línea separada */
    margin-bottom: 5px;
}

.message-form{
    width: 90%; 
    display: flex; 
    background-color: rgb(88, 88, 88); /* Fondo gris oscuro */ 
    border-radius: 5px; 
    padding: 20px; 
    margin-top: 10px;
}

.form-entry{
    width: 43%;
    padding: 3px;
    margin: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0330ac;
    border-radius: 25px;
    margin: 0 auto;
    transform: translateY(-130%);    
}

input{
    width: 80%;
    height: 70%;
    margin-right: 10px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 30px;
    background-color: transparent;
    color: white;
    padding-left: 10px;
    margin-left: 35px;
    padding-right: 15px;
}

button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #0045c5;
    border-left: 10px;
    color: white;
    border: transparent;
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px;
    cursor: pointer;
    
}
button:hover{
    background-color: #00217c;
}
.btn-img{
    width: 25px;
    height: auto;
    margin: 0 auto;
}

#uploadButton {
    background-color: #0045c5;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#uploadButton:hover{
    background-color: #00217c;
}

#uploadButton img{
    width: 40px;
    margin: 0 auto  ;
}

.date-separator {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #b8b8b85b;
    border: 1px solid #9999996c;
    border-radius: 10px;
    font-weight: bold;
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

#SubirDiv {
    position: absolute;
    bottom: -50px;
    left: 27%;
    background-color: var(--fondo);
    padding: 5px;
    border: 1px solid #ccccccaf;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 100px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#SubirDiv.show {
    opacity: 1;
    visibility: visible;
}

#SubirDiv .button {
    width: 80%;
}
.msg-foto{
    margin-bottom: 20px;
    border-radius: 20px;
}
.file img{
    width: 100px;
}
a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}